<a href="https://colab.research.google.com/github/moshimoshipandasan/waseda/blob/main/R%E8%A8%80%E8%AA%9E%E5%85%A5%E9%96%802_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#■8　Rでのデータ操作

##【1】データの読込み（インポート）
### <font color='red'>読込み → データフレームに変換 → プロット</font>
###(1)データセットの利用<BR>
Rには、さまざまな「データセット」と呼ばれるサンプルデータが提供されている。<br>
このデータセットの豊富さが初心者にうける所以。しかも、plot()関数で簡単にグラフ化できる。<br>
####Rのデータセット一覧
https://www.math.chuo-u.ac.jp/~sakaori/Rdata.html<br>

###【実習１】①データセットの読込み
例1）各地域での電話機の数（単位：千台）<br>
WorldPhones

In [ ]:
#読込み
WorldPhones

In [ ]:
#データフレームに変換
wp <- data.frame(WorldPhones)
wp

In [ ]:
#プロット
plot(wp)

### <font color='red'>読込み→プロット</font>

###【練習1】Rで提供されているデータセットを確認してみよう

例2）1949〜1960における, 航空会社の国際線の顧客の月別総乗客数<br>
AirPassengers<br>

In [ ]:
#時系列モデル
#Box & Jenkins のデータ. 1949〜1960における, 航空会社の国際線の顧客の月別総乗客数
AirPassengers

In [ ]:
plot(AirPassengers)

In [ ]:
#UKDriverDeaths の詳細版. 1969年1月〜1984年12月のイギリスにおけるドライバーの死傷者数. 1983年1月31日にシートベルトが義務化された.
Seatbelts

In [ ]:
plot(Seatbelts)

####(注)ディレクトリについて
![image.png]()

##CSV形式ファイルの読込み方法
自分で作ったデータを読み込む方法について

###<font color ="red">【実習1】②（データの読込み）</font>
読込みデータ（data1.csv）を下記からダウンロードして、ファイルに追加<br>
https://drive.google.com/drive/folders/17sVq0dNXvnZX45NOM_XSxJ-HuCeOq7ao?usp=sharing

data1.csvをファイルに追加
![image.png]()

###●スマホから学習している場合
<font color ='red'>スマートフォンから学習している人は下記を実行してdata1.csvを作成すること</font>

In [ ]:
###スマホの場合は下記を実行してdata1.csvを作成
export_data <- data.frame(gender=c(2,1,2,1,2,2,2,2,2,2,1,1,1,2,1,2,1,2,1,1,2,1,1,1,2,1,1,1,2,2),region=c("京都府","東京都","群馬県","群馬県","奈良県","愛知県","岩手県","北海道","千葉県","山形県","熊本県","群馬県","和歌山","和歌山","和歌山","宮城県","栃木県","神奈川県","東京都","高知県","群馬県","香川県","岡山県","三重県","和歌山県","北海道","埼玉県","宮城県","鳥取県","長野県"),name=c("福井 凛香","大川 陽生","平松 衣月羽","小川 和茂","安永 正巳","中沢 来雅子","滋賀 心優","香川 みう","日下部 小冬音","仲野 留美子","田川 碧仁","岩本 遥夏","野中 弦之助","荒井 彩来","北岡 俊彦","根岸 麻理子","関本 裕太","清田 芹花","金沢 和夢","大熊 諒真","黒田 笑舞","中澤 諒成","平 慶一朗","平沢 健蔵","梶田 茉莉花","三島 咲翔","岡野 裕理","伴 湊音","井原 仁愛","大倉 翼"),Japanese=c(77,74,52,85,97,57,80,54,51,54,67,87,94,78,54,62,100,92,70,88,97,58,71,98,54,53,75,53,65,99),Math=c(64,97,90,63,56,82,97,73,73,79,95,92,64,66,80,93,72,51,98,60,76,85,75,85,53,67,67,56,67,79),English=c(99,83,59,55,89,65,74,93,72,92,64,88,53,69,98,72,71,76,65,64,88,77,69,50,84,92,60,69,54,67))
write.csv(x = export_data, file = "data1.csv", row.names=FALSE)

**やってみよう！**

sheet3.csvのデータを下記からダウンロードしてフォルダに追加

https://drive.google.com/drive/folders/17sVq0dNXvnZX45NOM_XSxJ-HuCeOq7ao?usp=sharing

##【2】データの加工

In [ ]:
data1 <- read.csv( file = "data1.csv", header =TRUE)
data1
class(data1)

###【実習2】①データ構造の確認

In [ ]:
#データ構造の確認
str(data1)

In [ ]:
#データの配列
dim(data1)

###【実習2】②抽出

In [ ]:
# 1行2列の抽出
data1[1,2]

In [ ]:
# 1行目の抽出
data1[1,]
# 1行目の抽出が下記のようにも書ける
data1[1,1:6]

In [ ]:
# 1～3行目の抽出
data1[1:3,]
# 1～3行目の抽出が下記のようにも書ける
data1[1:3,1:6]

In [ ]:
# 5列目の抽出
data1[,5]
# 5列目の抽出は下記のようにも書ける
data1[1:3,5]

In [ ]:
# $Math変数へアクセス
data1$Math

In [ ]:
# 演算(4列目+5列目)
data1[,4] + data1[,5]

###【実習2】③並べ替え　sort()

In [ ]:
# $Math列の並べ替え(昇順)
sort(data1$Math)
# $Math列の並べ替え(降順)
sort(data1$Math,decreasing = TRUE)

###【実習2】④部分和・apply関数
行・列を一括して計算するにはapply関数が便利
```R
apply(data,値,関数名)
```
値が1の場合は行、
2の場合は列

In [ ]:
# 各行の合計(個人の3教科合計)
apply(data1[,4:6],1,sum)

In [ ]:
# 各列の合計（3教科の合計）
apply(data1[,4:6],2,sum)

###【実習2】⑤表の再構成(data2を作る)
```R
data.frame(結合するdata1,結合するdata2) 
```

In [ ]:
#合計をmarkに代入
mark <- apply(data1[,4:6],1,sum)
mark
#このmarkをdata1と結合
data2 <- data.frame(data1,mark) #結合
data2

###【練習2】

In [ ]:
# (1)各教科の平均値を求めなさい。
apply(data1[,4:6],2,mean)

In [ ]:
# (2)各教科の分散と標準偏差を求めなさい。
apply(data1[,4:6],2,var)
apply(data1[,4:6],2,sd)

In [ ]:
# 英語と数学の相関係数を求めなさい。
x <- data1$English
y <- data1$Math
cor(x,y)

##【3】データの一部にアクセス（抽出機能）
データの一部にアクセスするために必要な比較演算子と論理演算子は次の通りである。

###比較演算子

>|意味|記述|
|:--:|:--:|
|より大きい|>|
|以上|>=|
|未満|<|
|以下|<=|
|等しい|==|
|等しくない|!=|

###論理演算子

>|意味|記述|
|:--:|:--:|
|否定(not)|!|
|かつ(and)|&|
|または(or)|\||
|排他的論理和|xor|

※<font color="red">'かつ'には&&、'または'には||があるが使い方は少し異なる</font>

###【実習3】

In [ ]:
#(1)男子のみの抽出
data1[data1$gender == 1,]

In [ ]:
#(2)東京都出身を抽出
data1[data1$region == "東京都",]

In [ ]:
#(3)英語が60点以上を抽出
data1[data1$English >= 60,]

In [ ]:
#(4)女子で国語が60点以上を抽出
data1[data1$Japanese >= 60 & data1$gender == 2,]

###【補足】attach関数の活用
attach(data1)を活用すると、データセットの変数、ここではregionを直接サーチパスできる。<br>
【実習3】でattach関数を使うと

In [ ]:
attach(data1)
#(1)男子のみの抽出
data1[gender == 1,]
#(2)東京都出身を抽出
data1[region == "東京都",]
#(3)英語が60点以上を抽出
data1[English >= 60,]
#(4)女子で国語が60点以上を抽出
data1[Japanese >= 60 & data1$gender == 2,]

###【実習4】
attach(data1)を実行する例

In [ ]:
#(1)東京出身の国語の合計点
sum(data1[region == "東京都",]$Japanese)

In [ ]:
#(2)埼玉県出身の英語の平均点
mean(data1[region == "埼玉県",]$English)

In [ ]:
#(3)数学が50点以上の人数
dim(data1[Math >= 50,])

In [ ]:
#(4)神奈川県出身で英語が80点未満の人数
dim(data1[English < 80 & region == "神奈川県",])

In [ ]:
#(5)3教科の合計が180点以上の人数
dim(data2[data2$mark>=180,])

##【発展】tapply関数の活用

In [ ]:
#(1)すべての地域の和
tapply(Japanese,region,sum)

In [ ]:
#すべての地域の平均
tapply(Japanese,region,mean)

##【4】データの書き込み
これ結構重要！
```R
row.names = FALSE
```
CSV形式の書き出しのときにデータフレームのインデクス番号を付けないで書き出し<br>
データを読み込んで処理したときにエラーが出たらまず`row.names = FALSE`忘れを疑え！

In [ ]:
#初期データの読込み
data1 <- read.csv( file = "data1.csv", header =TRUE)
mark <- apply(data1[,4:6],1,sum)
data2 <- data.frame(data1,mark) #結合

In [ ]:
#書き込み例1
write.csv(data2,"sheet2.csv",row.names = FALSE)
# row.names = FALSEとすると一番左側のヘッダを付けない
write.csv(data2,"sheet0.csv")
# sheet0.csvとsheet2.csvを比較し、一番左側のヘッダが付いていないことを確認しよう

##【5】欠損値の扱い
次はデータに欠損値（NA）が含まれているときの処理である。
sheet3.csvのデータは下記URLから

https://drive.google.com/drive/folders/17sVq0dNXvnZX45NOM_XSxJ-HuCeOq7ao?usp=sharing

##●スマホから学習している場合
スマートフォンから学習している人は下記を実行してsheet3.csvを作成すること

In [ ]:
###スマホの場合は下記を実行してsheet3.csvを作成
export_data <- data.frame(gender=c(2,1,2,1,2,2,2,2,2,2,1,1,1,2,1,2,1,2,1,1,2,1,1,1,2,1,1,1,2,2),region=c("京都府","東京都","群馬県","群馬県","奈良県","愛知県","岩手県","北海道","千葉県","山形県","熊本県","群馬県","和歌山","和歌山","和歌山","宮城県","栃木県","神奈川県","東京都","高知県","群馬県","香川県","岡山県","三重県","和歌山県","北海道","埼玉県","宮城県","鳥取県","長野県"),name=c("福井 凛香","大川 陽生","平松 衣月羽","小川 和茂","安永 正巳","中沢 来雅子","滋賀 心優","香川 みう","日下部 小冬音","仲野 留美子","田川 碧仁","岩本 遥夏","野中 弦之助","荒井 彩来","北岡 俊彦","根岸 麻理子","関本 裕太","清田 芹花","金沢 和夢","大熊 諒真","黒田 笑舞","中澤 諒成","平 慶一朗","平沢 健蔵","梶田 茉莉花","三島 咲翔","岡野 裕理","伴 湊音","井原 仁愛","大倉 翼"),Japanese=c(77,74,52,85,97,57,80,54,NA,54,67,87,94,78,54,62,100,92,70,88,97,58,71,98,54,53,75,53,65,99),Math=c(64,97,90,63,56,82,97,73,NA,79,95,92,64,66,80,93,72,51,98,60,76,85,75,85,53,67,67,56,67,79),English=c(99,83,59,55,89,65,74,93,NA,92,64,88,53,69,98,72,71,76,65,64,88,77,69,50,84,92,60,69,54,67))
write.csv(x = export_data, file = "sheet3.csv", row.names=FALSE)

In [ ]:
data3 <- read.csv("sheet3.csv",header = TRUE)
data3

###【欠損データがある部分和】

apply(data,1:行/2:列,関数名,欠損値NAは無視)
```R
na.rm=TRUE
```

In [ ]:
#欠損値を無視した列の部分和
apply(data3[,4:6],1,sum,na.rm=TRUE)

In [ ]:
#欠損値を無視した行の部分和
apply(data3[,4:6],2,sum,na.rm=TRUE)

In [ ]:
#欠損値データの削除
na.omit(data3)

この<font color='red'>na.omit()</font>は処理のとき、めちゃ使うので覚えておこう！